/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Monoton:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Monoton', sans-serif;
    background-color: #72147E;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

h1 {
   color: #FF5200;
}

.kinetic {
    position: relative;
    height: 80px;
    width: 80px;
}

/* when using "before" or "after" you have to use a content property */
.kinetic::after, .kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;

}