/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Damion:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FAF3E0;
    font-family: 'Damion', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

.card   {
    box-shadow: 5px 10px 8px 10px #1b1818;
    border-radius: 12px;
    overflow: hidden;
    width: 350px;

}

.card-header {
    height: 200px;
}

.card-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    background-color: #EABF9F;
    padding: 30px;
}

.card-title {
    height: 20px;
    margin: 0;
}

.card-excerpt {
    color: #1E212D;
    margin: 10px 0 20px;
}

.author {
    display: flex;
}

.profile-img {
    border-radius: 50%;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info small {
    margin-top: 10px;
    color: rgb(90, 90, 121);
}

.animated-bg {
    background-image: linear-gradient(to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
    opacity: 50%;
}

.animated-bg-text {
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: 150 0;
    }
}