/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    overflow: hidden;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}