/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bangers', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background: #A3A847;
    
}

h1 {
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;  
}

@media (max-width: 800px) {
    .box-container {
        flex-direction: column;
        overflow: auto;
    } 
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px #558776;
    background-color: #EAE2B6;
    display: flex;
    flex-direction: row;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.hold {
    border: solid 5px black;
}

.hovered {
    background-color: #b9c76d;
    border-color: whitesmoke;
    border-style: dashed;
}