/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.testimonial-container {
    background-color: #30475E;
    color: white;
    border-radius: 7px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: rgba(255, 255, 255 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
}