/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 10px;
}

.testimonial-container {
    background-color: #30475E;
    color: white;
    border-radius: 11px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: rgba(242,163,101,0.8);
    font-size: 28px;
    position: absolute;
    top: 70px;
}

.fa-quote-right {
    right: 40px;
}

.fa-quote-left {
    left: 40px;
}

 p {
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 95px;
    width: 95px;
    margin: 10px;
    object-fit: cover;
    border: solid 2px #F2A365;
}

.user .role  {
    font-weight: normal;
    margin: 7px 0;
}

.progress-bar {
    background-color: #F2A365;
    height: 4px;
    width: 100%;
    animation: grow 10s linear;
}

@media(max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}