/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Francois One:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Francois One', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(230, 236, 240, 0.3);
    z-index: -1;
}

h1 {
    font-size: 80px;
    color: #59405C;
    background: rgb(235, 217, 217, .85);
    padding: 10px 30px;
    border-radius: 10px;
}

.subheaders {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
}

h3 {
    margin-bottom: 0;
}

small {
    display: block;
    margin-bottom: 20px;

}

.fa-heart {
    color: rgb(146, 3, 3);
}

.loveMe {
    height: 440px;
    width: 300px;
    background: url('https://images.unsplash.com/photo-1457089328109-e5d9bd499191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80') 
    no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    border: whitesmoke 20px solid;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    box-shadow: 5px 10px 8px 10px #0e0c13;
}

.love-me fa-heart {
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}