/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Concert One:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Concert One', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 97, 172, 0.6);
    z-index: -1;
}