/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee Shade:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bungee Shade', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}