/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril Fatface:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Abril Fatface', sans-serif;
    color: #3161a3;
    background-color: #ebfffb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    margin: 10 0 0;
}