/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lemon&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #FFA900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.text {
    text-transform: uppercase;
}

.logo {
    width: 200px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    
}