/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lemon&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #FFA900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.text {
    text-transform: uppercase;
}

.logo {
    width: 200px;
}

.nav-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.nav.visible {
    transform: translateX(0);
}

.nav-purple {
    background-color: #52006A;
    width: 60%;
    max-width: 480px;
    min-width: 320;
}

.nav-red {
    background-color: #CD113B;
    width: 95%;
}

.nav-orange {
    background-color: #FF7600;
    width: 95%;
    padding: 40px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0.5;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin: 20px 0;
    text-transform: uppercase;
}

.list li:hover {
    cursor: pointer;
    color: #CD113B;
}

.list li a {
    color: #52006A;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
}

.list ul {
    list-style-type: none;
    padding-left: 20px;
}