/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d8e6c9;
    color: #01423f;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #9B3675;
    font-size: 10rem;
    text-align: center;
    opacity: 0.8;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}