/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #3d80d8, #9bd0f0);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

.box {
    background-color: rgb(91, 212, 212);
    color: lightcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(250%);
    transition: transform 0.5s ease;
}

/* Using a psudo selector to alternate boxes coming in
from the left and the right */
.box:nth-of-type(even) {
    transform: translateX(-250%);
    background-color: lightsalmon;
}

.box.show {
    transform: translateX(0);

}

.box h2 {
    font-size: 45px;
}