/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #aad8d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0 20px;
    color: #393e46;
}

.container {
    width: 500px;
}

#textarea {
    border: none;
    display: block;
    width: 100%;
}